/* police Raleway */

@font-face {
  font-family: 'Raleway';
  src: url('font/Raleway-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
/* centrage page */

#page_reservia
{
  width: 80%;
  margin: auto;

}
/* mise en forme header */
header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* mise en forme logo */

#logo_reservia
{
  padding: 30px;
}
/* mise en forme nav */

nav
{
  font-family: Raleway;
  font-weight: normal;
}

a
{
  display: inline;
  text-decoration: none;
  color: inherit;
  padding: 50px;
}
.lien_signup
{
  color: #0065FC;
  font-weight: bold;
}
/* changement apparence survol souris */

.lien_hébergements:hover
{
  color: #0065FC;
  border-top: 3px solid #0065FC;
  
}
.lien_activités:hover
{
  color: #0065FC;
  border-top: 3px solid #0065FC;
  
}

