/* police Raleway */

@font-face {
  font-family: 'Raleway';
  src: url('font/Raleway-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
/* centrage page */

#page_reservia
{
  width: 80%;
  margin: auto;
}

nav
{
  font-family: Raleway;
  font-weight: normal;
}